<html>
    <head>
        <%- include('partials/header1.ejs') %>
       
    </head>
    <body>
        <%- include('partials/navbar2.ejs') %>	
<div class="container mt-5">			
	<div class="heading2">
			<h1>View Bookings</h1>			
		</div>		
	<div id="divGet">
		<table class="table table-striped" style="height: 150px;">
			<tr>
				<th>Name1</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Checking Date</th>
				<th>Checkout Date</th>
				<th>Number Of Days</th>
				<th>Created On</th>
				<th>Amount</th>
				<th>Room Type</th>
				<th>Change your bookings</th>
				<th>Delete</th>				
			</tr>					
			<%
				if (eData.length !=0) {var i=1; eData.forEach( function(data) {						
			%>
			<tr>						
				<td><%=data.fullname%></td>
				<td><%=data.email%></td>
				<td><%=data.mobile%></td>
				<td><%=data.checkin.toLocaleDateString()%></td>
				<td><%=data.checkout.toLocaleDateString()%></td>
				<td><%=data.days_num%></td>
				<td><%=data.created_on.toLocaleDateString()%></td>
				<td><%=data.amount%></td>
				<td><%=data.room_type%></td>
			
 												
				<td><a href="/booking-update/<%=data.id%>" class="btn">Update</a></td>	 
				<td>
					<form method="post" action="/delete/<%= data.id %>">
						<input class="btn" type="submit" name="delete" value='Delete' onClick="return confirm('This will remove the booking record, are you sure?')" />
						<input type="hidden" name="_method" value="DELETE" />
					</form>
				</td>
			</tr>
			<% i++; }) %> <%}%>					
		</table>
	</div>
</div>
</body>

</html>
	
<%- include ( "partials/footer"); -%>	
